stages:
  - build
  - test
  - prepare
  - deploy
# Cache gems in between builds
cache:
  key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
  paths:
    - vendor

.before_script: &before_script
  - bundle install

.system_deps: &system_deps
  - apt-get update && apt-get install -y build-essential libsqlite3-dev

variables:
  BUNDLE_JOBS: 10
  BUNDLE_PATH: vendor
  CI: 1
  PARALLEL: 1
jruby:
  cache:
    paths:
      - vendor/jruby
  allow_failure: true
  variables:
    JRUBY_OPTS: --debug
  before_script:
    - apt-get update && apt-get install -y
    - *before_script
  image: "jruby:10"
  script:
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"
truffleruby:
  allow_failure: true
  before_script:
    - dnf install -y gcc make sqlite-devel git libxslt-devel libxml2-devel xz
    - *before_script
  image: "ghcr.io/graalvm/truffleruby-community:latest"
  script:
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"
ruby24:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:2.4"
  script:
    - bundle exec rake test
ruby25:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:2.5"
  only:
    - master
  script:
    - bundle exec rake test
ruby26:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:2.6"
  only:
    - master
  script:
    - bundle exec rake test
ruby27:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:2.7"
  script:
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"
ruby30:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:3.0"
  script:
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"
ruby31:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:3.1"
  script:
    - bundle exec rake rubocop
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"
ruby32:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:3.2"
  script:
    - bundle exec rake rubocop
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"
ruby33:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:3.3"
  script:
    - bundle exec rake rubocop
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"
ruby34:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:3.4"
  script:
    - bundle exec rake rubocop
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"
ruby40:
  before_script:
    - *system_deps
    - *before_script
  image: "ruby:4.0"
  script:
    - bundle exec rake rubocop
    - bundle exec rake check_method_doc
    - bundle exec rake test
  artifacts:
    paths:
      - "coverage/"

coverage:
  stage: prepare
  coverage: '/Coverage: \d+.\d+\%/'
  before_script:
    - *system_deps
    - *before_script
  dependencies:
    - jruby
    - truffleruby
    - ruby24
    - ruby27
    - ruby34
  image: "ruby:4.0"
  script:
    - bundle exec rake coverage:report
  artifacts:
    paths:
      - "coverage/"

pages:
  stage: deploy
  dependencies:
    - coverage
  script:
    - mkdir public
    - mv coverage public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master
